
{% extends 'hrms/layout.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<div class="card">
    <div class="card-body">
      <h4 class="card-title">All Work Arrangements  Casting

      </h4>
        <h4 class="card-title">
            Your Salary = {{employee.salary}}
        </h4>

        <h4 class="card-title" >
            Your Total Deductions for this month = <span style="background-color:rgb(240, 139, 139) ;">{{advanceamount}}</span>
        </h4>

        <h4 class="card-title" >
          {% if employee.salary|sub:advanceamount < 0 %}
            Salary To receive this month = <span style="background-color:rgb(240, 139, 139)  ;"> {{employee.salary|sub:advanceamount}} </span> 
          {% endif %}

          {% if employee.salary|sub:advanceamount > 0 %}
          Salary To receive this month = <span style="background-color:rgb(168, 245, 168) ;"> {{employee.salary|sub:advanceamount}} </span> 
        {% endif %}

          </h4>
      <div class="table-responsive">
          <hr>
          <h4 class="card-title">
              Your Deductions for This month
          </h4>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>
                  amount
                </th>
            
              <th>
                  date
              </th>
                                    
            </tr>
          </thead>
          <tbody>
          {% for payment in advancepayment  %}
            <tr>
               
              <td>
                  {{payment.amount}}
                </td>
    
              <td>
               {{payment.date_paid}}
              </td>
              
            
              <td>
              
                               
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if is_paginated %}
          <nav aria-label="Page navigation example" class='mt-4'>
            <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
            {% else %}

              <li class="page-item disabled"><span class='page-link '>Previous</span></li>
            {% endif %}
              <li class="disabled"> <span class='page-link'> Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} </span></li>
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><span class='page-link '>Next</span></li> 
            {% endif %}                        
            </ul>
        </nav>
        {% endif %}
    
      </div>
    </div>
  </div>
</div>                

{% endblock  %}